<!-- It generates this type of tree heirarchy -->

<div class="main main-vertical">
        <ul>
            <li>
                <span>Parent Node 1</span>
                <ul>
                    <li>
                        <span>Child Node 1</span>
                        <ul>
                            <li>
                                <span>Grand Child Node 1</span>
                            </li>
                            <li>
                                <span> Grand Child Node 2</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Child Node 2</span>
                        <ul>
                            <li>
                                <span>Grand Child Node 1</span>
                                <ul>
                                    <li>
                                        <span>Grand's Child's Child Node 1</span>
                                    </li>
                                    <li>
                                        <span>Grand's Child's Child Node 2</span>
                                        <ul>
                                            <li>
                                                <span>Grand's Child's Child Node 1</span>
                                            </li>
                                            <li>
                                                <span>Grand's Child's Child Node 2</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span> Grand Child Node 2</span>
                                <ul>
                                    <li>
                                        <span>Grand's Child's Child Node 1</span>
                                    </li>
                                    <li>
                                        <span>Grand's Child's Child Node 2</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Child Node 3</span>
                        <ul>
                            <li>
                                <span>Grand Child Node 1</span>
                                <ul>
                                    <li>
                                        <span>Grand's Child's Child Node 1</span>
                                    </li>
                                    <li>
                                        <span>Grand's Child's Child Node 2</span>
                                        <ul>
                                            <li>
                                                <span>Grand's Child's Child Node 1</span>
                                            </li>
                                            <li>
                                                <span>Grand's Child's Child Node 2</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span> Grand Child Node 2</span>
                                <ul>
                                    <li>
                                        <span>Grand's Child's Child Node 1</span>
                                    </li>
                                    <li>
                                        <span>Grand's Child's Child Node 2</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>